@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

#front-page{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BgrICs-NZj4hksnn3/videoblocks-revealing-handheld-shot-of-a-beef-fillet-on-an-aged-board-focused-on-a-piece-of-raw-meat-blured-composition-of-raw-meat-fillets-and-vegetables_hczkb5cs4_thumbnail-full01.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#nav-bar{
    height: 5rem;
}

#register-form{
    height: calc(100vh - 80px);
}

#login-form{
    height: calc(100vh - 80px);
}

#setLogin{
    color: white;
}

#setLogin:hover{
    cursor: pointer;
    color: yellow;
}

#setRegister{
    color: white;
}

#setRegister:hover{
    cursor: pointer;
    color: yellow;
}

.task{
    height: calc(100vh - 100px);
}

#welcome-text{
    color: greenyellow;
    font-size: 5rem;
    opacity: 0;
    font-family: 'Francois One', sans-serif;
}

.navbar-brand{
    font-family: 'Francois One', sans-serif;
    font-size: 2rem;
}

.get-start{
    padding: 15px;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    margin-top: 80px;
    opacity: 0;
}

.get-start:hover{
    color: white;
}

#back-home{
    cursor: pointer;
}

#title-text{
    color: white;
    font-family: 'Francois One', sans-serif;
    margin-bottom: 2rem;
    animation: myanimation 5s infinite;
}

.card-content{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-bottom: 4px solid green;
    border-top: 4px solid green;
}

.card-content:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-link{
    font-size: 1.5rem;
}

@keyframes myanimation {
    0% {color: red;}
    25%{color:yellow;}
    50%{color:green;}
    75%{color:brown;}
    100% {color: red;}
}

.caro{
    max-height: calc(100vh - 150px);
}

.card-wrap{
    margin: 20px;
}

.caro-head{
    font-size: 40px;
}

.caro-text{
    font-size: 20px;
}

.caro-detail{
    max-height: calc(100vh);
}

.carousel-item{
    height: 400px;
    width: 100%;
} 




#detail-body{
    padding-top: 0 !important;
}

mark{
    background-color: chartreuse !important;
}